body {
	background-color: white;
	font-family:"Times New Roman", Times, serif;
	font-size: 12pt;
	color:#800000:/* Dark maroon for body text */
	text-align: center; /* Keeps paragraphs left-aligned */
}

h1
{
	display: inline-block;
	background-color: lightblue;
	font-size: 32pt;
	color: red;
	padding: 5px 10px;
	margin: 20px auto;
	text-align: center;
}
h2 {
	text-align: left;
	background-color: #800000;
	color: red;
}
img {
	display:block;
	float: left;
	margin: 0 15px 15px 0;
p {
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
	color:black;
	text-align:left;
}
p.shrt {
	display: inline-block;
	background-color: lightyellow;
	width: 600px;
	padding: 5px 10px;
	margin: 10px 0;
	text-align: center;
}
